html {
    height: 100%;
}

.navbar-nav > li{
    margin-left:7px;
    margin-right:7px;
}

.list > li {
    margin-bottom: 10px;
    margin-top: 10px;
    list-style: none;
}

.tbl {
    text-align: center;
}

.sidebar {
    padding: 10px;
    border-right: 1px solid black;
    height: 100vh;
}

.sidebar ul {
    margin-bottom: 20px;
}

.sidebar ul li {
    padding-left: 10px;
    min-height: 2.2rem;
}

.sidebar ul li:hover {
    background-color: white;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
}

body {
    padding-top: 56px;
    height: 100%;
}

#main-container,
#main-container .row {

}

.dashboard-box {
    margin: 10px;
    box-shadow: 2px 2px 2px 2px lightgrey;
}

#icons {
    margin: 15px;
}

.button {
    margin: 5px;
}



