<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments :: header"></div>
    <title>Account Info</title>
    <script src="https://kit.fontawesome.com/e8b27fd1d7.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments :: navigation"></div>
<div>
    <div id="main-container" class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar shadow-lg">
                <div th:replace="fragments :: sidebar"></div>
            </div>
            <div id="main-content-container" class="col-sm-9 col-md-10 container-fluid align-content-center"
                 th:object="${account}">
                <br>
                <h1 class="text-center">Account Information</h1>
                <br>
                <dl class="row">
                    <dt class="col-sm-3">Institution Name:</dt>
                    <dd class="col-sm-9" th:text="${account.institutionName}">Institution Name</dd>
                    <dt class="col-sm-3">Account #:</dt>
                    <dd class="col-sm-9" th:text="${account.accountNum}">Account Number</dd>
                    <dt class="col-sm-3">Current Balance:</dt>
                    <dd class="col-sm-9" th:text="${#numbers.formatCurrency(account.currentBalance)}">Current Balance</dd>
                </dl>
                <br><br>
                <a th:href="@{'/account/edit/' + ${account.id}}" class="btn btn-outline-success">Update Account Information</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>