<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments :: header"></div>
    <title>Edit Budget</title>
</head>
<body>
<div th:replace="fragments :: navigation"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar shadow-lg">
            <div th:replace="fragments :: sidebar"></div>
        </div>
        <div class="col-sm-9 col-md-10">
            <br><br>
            <div id="cat-update" class="container border rounded bg-light border-dark col-5" style="padding: 25px">
                <h1 class="text-center">Category Update</h1><br>
                <form action="#" th:action="@{/budget/update}" th:object="${category}" method="post">
                    <div class="form-group">
                        <label for="id" class="fw-bold">Id:</label>
                        <input class="form-control" type="text" id="id" th:field="*{id}" disabled><br>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold" for="name">Category Name:</label>
                        <input class="form-control" type="text" id="name" th:field="*{name}" required><br>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold" for="amt">Monthly Budget Amount:</label>
                        <input class="form-control" type="number" id="amt" th:field="*{monthlyBudgetAmt}" required><br>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold" for="type">Category Type:</label>
                        <select class="form-control" id="type" th:value="*{type}" required>
                            <option value="" selected>Please select...</option>
                            <option>Needs</option>
                            <option>Wants</option>
                            <option>Savings</option>
                        </select><br>
                    </div>
                    <input type="submit" value="Save" class="btn btn-light text-dark border-dark">
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>