<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments :: header"/></div>
    <title>Help</title>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<center><br><br><br><br>
<iframe width="560"
        height="315"
        src="https://www.youtube.com/embed/HQzoZfc3GwQ"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe></center><br><br>
<p class="text-center">Click on the video to learn about the <strong>50/30/20</strong> rule of personal finance!!!</p>
<div th:replace="fragments :: footer"/></div>
</body>
</html>