<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <div th:replace="fragments :: header"></div>
</head>
<body>
<div th:replace="fragments :: navigation"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar shadow-lg">
            <div th:replace="fragments :: sidebar"></div>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="row">
                <h1 class="mt-3">Accounts</h1>
                <hr class="mx-3">
            </div>
            <div class="row">
                <div class="col-4 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">BANK ACCOUNTS</h5><br>
                            <div th:each="account : ${bankAccounts}">
                                <h6 class="card-subtitle mb-2 text-muted" th:text="'Acct #: ' + ${account.accountNum}">
                                    Acct #:</h6>
                                <p class="card-text" th:text="'Balance:  ' + ${#numbers.formatCurrency(account.currentBalance)}">Balance: </p>
                                <span class="d-inline">
                            <a th:href="@{'account/view/' + ${account.id}}" class="btn btn-outline-success btn-sm">View Details</a>
                            <a th:href="@{'/account/edit/' + ${account.id}}" class="btn btn-outline-success btn-sm">Update</a>
                                </span>
                                <hr>
                            </div>
                            <h6 class="card-subtitle mb-2">ACTIONS</h6>
                            <a th:href="@{/account/form}" class="btn btn-outline-success btn-sm text-center">Add
                                Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">LOANS</h5><br>
                            <div th:each="loan : ${loans}">
                                <h6 class="card-subtitle mb-2 text-muted" th:text="'Acct #: ' + ${loan.accountNum}">
                                    Acct #:</h6>
                                <p class="card-text" th:text="'Balance:  ' + ${#numbers.formatCurrency(loan.currentBalance)}">Balance: </p>
                                <span class="d-inline">
                            <a th:href="@{'/loan/view/' + ${loan.id}}" class="btn btn-outline-success btn-sm">View Details</a>
                            <a th:href="@{'/loan/edit/' + ${loan.id}}" class="btn btn-outline-success btn-sm">Update</a>
                            </span>
                                <hr>
                            </div>
                            <h6 class="card-subtitle mb-2">ACTIONS</h6>
                            <a th:href="@{/loan/form}" class="btn btn-outline-success btn-sm text-center">Add Loan</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">RETIREMENT ACCOUNTS</h5><br>
                            <div th:each="account : ${retirementAccounts}">
                                <h6 class="card-subtitle mb-2 text-muted" th:text="'Acct #: ' + ${account.accountNum}">
                                    Acct #:</h6>
                                <p class="card-text" th:text="'Balance:  ' + ${#numbers.formatCurrency(account.currentBalance)}">Balance: </p>
                                <span class="d-inline">
                           <a th:href="@{'account/view/' + ${account.id}}" class="btn btn-outline-success btn-sm">View Details</a>
                            <a th:href="@{'/account/edit/' + ${account.id}}" class="btn btn-outline-success btn-sm">Update</a>
                                </span>
                                <hr>
                            </div>
                            <h6 class="card-subtitle mb-2">ACTIONS</h6>
                            <a th:href="@{/account/form}" class="btn btn-outline-success btn-sm text-center">Add
                                Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>