<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments :: header"></div>
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/e8b27fd1d7.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments :: navigation"></div>
<div>
    <div id="main-container" class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar shadow-lg">
                <div th:replace="fragments :: sidebar"></div>
            </div>
            <div id="main-content-container" class="col-sm-9 col-md-10 container-fluid align-content-center">
                <br><br>
                <h4 class="text-center">Registration completed successfully</h4><br>
                <br>
                <a th:href="@{/login}" class="btn btn-outline-success btn-lg">Log In</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>




